@import "../../../styles/styles.scss";

.MovieCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  .poster {
    .poster-image {
      max-width: 500px;
      width: 100%;
      height: 700px;
      cursor: pointer;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin: $margin-regular 0;
    color: $accent-2;
    .title-genre {
      display: flex;
      flex-direction: column;

      .title {
        font-weight: bold;
      }
    }

    .year {
        display: flex;
        align-self: baseline;
        border: 2px solid $primary;
        padding: 0 $padding-small;
        border-radius: 5px;
    }
  }
}
