//Colors

$primary: #424242;
$secondary: #f65261;
$background: #232323;
$accent-1: #555555;
$accent-2: #ffffff;
$transperant: rgba(255, 255, 255, 0.2);

//Margins and paddings

$padding-large: 1.5rem;
$padding-regular: 1rem;
$padding-small: 0.5rem;

$margin-large: 1.5rem;
$margin-regular: 1rem;
$margin-small: 0.5rem;
