@import "../../styles/styles.scss";

.Header {
    height: 30rem;
  .background {
    background-image: url("../../../assets/images/posters.jpg");
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 100vw;
    height: 30rem;
    filter: blur(5px) brightness(20%);
    -webkit-filter: blur(5px) brightness(20%);
  }

  .content {
    z-index: 9999;
    position: relative;
    left: 0;
    right: 0;
    .main-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: $margin-regular;

      .logo {
        color: $secondary;
        font-size: 2em;
        :first-child {
          font-weight: bold;
        }
      }
    }

    .search-title {
      margin: 3rem 0;
    }

    .search {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .search-field {
        width: 100%;
        margin-right: $margin-small;
      }
    }
  }
}
